h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-transform: capitalize;
}

.day-and-time li {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.inside-border {
  border: 1px solid #9f5655;
  background-color: rgb(233, 212, 185, 0.9);
  border-radius: 30px;
}

.weather-app {
  border: 1px solid #000;
  margin: 50px auto;
  max-width: 600px;
  padding: 40px;
  border-radius: 30px;
  background-image: url("https://thumbs.dreamstime.com/b/tela-escocesa-de-burberry-fondo-escoc%C3%A9s-la-jaula-124300940.jpg");
}

.weather-icon {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  padding: 10px;
  text-align: center;
}

.weather-quote {
  text-align: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.current-temperature {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 35px;
}

li {
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}

.wind-and-precipitation {
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.wind-and-precipitation li {
  font-size: 15px;
}

.search-bar {
  width: 75%;
  border-radius: 10px;
  margin: 30px 0 0 0;
}
